.launch-page{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.logo-big{
    width: 400px;
}

.hero-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}