.launch-page{
    display: flex;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}
.logo-big{
    width: 400px;
}

.hero-area{
    margin-right: 4cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-area h1 {
    color: var(--main-color);
    font-size: 45px;
}