.settings {
  width: 75vw;
  margin: 3.5em 0;
  padding: 1em;
  background-color: var(--cream);
  border: 5px solid var(--main-color);
  border-top: 2.5em solid var(--main-color);
  border-radius: 2em;
  overflow: hidden;
  box-shadow: #e9d6d2 3px -3px 10px 2px;
}
.settings h2{
  font-size: 30px;
}
.settings form {
  /* margin: 1em; */
  display: flex;
  flex-direction: column;
}

.userDisplay {
  display: flex;
  align-items: center;
}
.username{
  font-size: 30px;
}
.settings svg {
  cursor: pointer;
  margin-left: auto;
  margin-right: 1em;
}
#edit-username {
  flex-direction: row;
}
#edit-username button {
  margin-top: 0.25em;
  margin-left: 0.5em;
}
.userDisplay img {
  width: 100px;
  height: 100px;
  margin-right: 1em;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  background-color: var(--dark-color);
}

.settings label {
  border-bottom: 2px solid var(--main-color);
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 22px;
}

.settings form:last-child label {
  align-self: flex-start;
}
.settings input {
  margin: 0.25em 0;
}
.settings button {
  margin-top: 0.5em;
}

.edit-email {
  display: flex;
}
