.random-cat-pic {
  width: 30vw;
  height: fit-content;

  padding: 1em;
  background-color: var(--cream);

}
.random-cat-pic img{
    width: 100%;
    height: 75%;
    object-fit: contain;
    background-color: var(--cream);
}