.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

svg {
  color: var(--dark-color);
}

.post-list {
  /* margin: 1em; */
  width: 40vw;
  padding: 1em;
  background-color: var(--cream);
  border-right: 5px solid var(--main-color);

}
.post-body, .comment{
  margin: 1em 0;
  padding: 1em 0;
  background-color: var(--cream);

  border-bottom: 2px solid var(--main-color);
}
.post-comment {
  width: 60vw;
  margin: 3.5em 0;
  padding: 1em 2em;
  background-color: var(--cream);
  border: 5px solid var(--main-color);
  border-top: 2.5em solid var(--main-color);
  border-radius: 2em;
  overflow: hidden;
  box-shadow: #e9d6d2 3px -3px 10px 2px;
}
.post-comment > .post-body {
  margin: 0;
  padding: 0;
}
.post-img-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postbuttons{
  display: flex;
  justify-content: space-between;
}

.userDisplay-small {
  display: flex;
  align-items: flex-start;
}
.userDisplay-small img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  background-color: var(--dark-color);
}
input, textarea{
  padding: 0.25em;
  outline-color: var(--dark-color);
  border-color: var(--main-color);
  border-style: solid;
}