.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

svg{
  color: var(--dark-color);
}

.post-body, .post-comment{
  width: 40vw;
  margin: 1em;
  padding: 1em;
  background-color: var(--main-color);
}
.post-comment{
  width: 60vw;
}
.post-comment >.post-body{
  margin:0;
  padding: 0;
}
.comment{
  margin: 1em 0;
  background-color: var(--accent-color);
}