.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.App-link {
  color: #61dafb;
}

svg{
  color: var(--dark-color);
}

.post{
  width: 40vw;
  margin: 1em;
  padding: 1em;
  background-color: var(--main-color);
}
.comment{
  margin: 1em 0;
  background-color: var(--accent-color);
}